.bordo-tratteggiato-arrotondato {
  border: 1px dashed rgb(45, 45, 209);
  border-radius: 20px;
  padding-block: 0px;
  padding-inline: 5px;
}

.rounded-50 {
  border-radius: 50px !important;
}

.immagine-profilo {
  left: 30px;
  bottom: -60px;
  width: 60%;
}

.pen {
  top: 25px;
  right: 25px;
}
body {
  background-color: #f4f2ee;
}
#footer {
  margin-top: 63px;
}
#mynav {
  position: sticky;
  top: 0;
  z-index: 100;
}
