.sideDx {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid grey;
}
/*-----------------centraltest---------------------------------*/
.centered {
  height: 800px;
  background-color: black;
}
/*-----------------centraltest---------------------------------*/
