.div-nav {
  width: 100%;
}

.custom-dropdown-toggle {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: auto !important;
}

.dropdown-center {
  position: absolute;
  left: 50%;
  transform: translateX(-80%);
  width: 500px;
  height: auto;
}

.icons {
  font-size: 20px;
  color: rgb(133, 133, 133);
}

.div-icon :hover {
  color: black;
}

.div-icon {
  cursor: pointer;
}

.logo-icon {
  color: rgb(15, 101, 199);
}
#coldx {
  display: flex;
  gap: 45px;
}
#colsx {
  display: flex;
  gap: 27px;
}
